<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Examen</title>
</head>
<body>

<h2>Zoek een overtreding - Alina Storme</h2>
<br/><br/>
<form action='/search' method='POST'>
    <span><b>Opnameplaats straat : </b><input type='text' name='opnameplaats_straat'></span>
    <span><b>Aantal overtredingen snelheid : </b><input type='number' name='aantal_overtredingen_snelheid'></span>
    <span><button type='submit'>Zoek</button></span>
</form>
</body>
</html>